* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

:root {
  --blue-color: #007bff;
  --indigo-color: #6610f2;
  --purple-color: #6f42c1;
  --pink-color: #e83e8c;
  --red-color: #dc3545;
  --orange-color: #fd7e14;
  --yellow-color: #ffc107;
  --green-color: #28a745;
  --teal-color: #20c997;
  --cyan-color: #17a2b8;
  --white-color: #fff;
  --gray-color: #6c757d;
  --gray-dark-color: #343a40;
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --bg-color: #fff;
  --font-color: #696969;
  --heading-color: #000c04;
  --border-radius: 10px;
  --border-color: #ddd;
  --border-light: #f0f3f0;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --bg-light: rgba(147, 107, 232, 0.05);
  --iframe-filter: grayscale(0%);
  --widget-bg: #3f3a64;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2em;
}
[data-theme="dark"] {
  --primary-color: #189a46;
  --secondary-color: #f53626;
  --font-color: #afafaf;
  --bg-color: #151515;
  --heading-color: #ddd;
  --border-color: #333;
  --border-light: #444;
  --nav-color: #fff;
  --bg-light: #222;
  --dropdown-color: #151515;
  --iframe-filter: grayscale(100%);
  --widget-bg: #131617;
}

/* Start Header  */
header {
  background-color: var(--bg-color);
  height: 90px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  display: grid;
  align-items: center;
}

header .container .navbar {
  padding: 0;
  margin: 0;
}

header .container .navbar .navbar-brand {
  color: var(--primary-color);
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

header .container .navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
}

header .container .navbar-expand-lg .navbar-nav .nav-item .nav-link {
  color: var(--heading-color);
  padding: 14px 0;
  font-size: 1.2em;
  font-weight: 400;
  position: relative;
}

header .container .navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: var(--primary-color);
}

header .container .navbar-expand-lg .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 0px;
  height: 1px;
  bottom: 13px;
  transition: all 0.5s ease;
}

header
  .container
  .navbar-expand-lg
  .navbar-nav
  .nav-link:hover.nav-link::before {
  width: 100%;
}

header
  .container
  .navbar-expand-lg
  .navbar-nav
  .nav-item.active
  .nav-link
  span.fa {
  padding-left: 2px;
  font-weight: 600;
  display: inline-block;
}

header
  .container
  .navbar-expand-lg
  .navbar-nav
  .nav-item.active
  .nav-link
  .fa-angle-down::before {
  content: "\f107";
}

header
  .container
  .navbar-expand-lg
  .navbar-nav
  .nav-item
  .nav-link
  span::before {
  font-size: 12px;
}

header .container .navbar .change-theme nav .theme-switch-wrapper {
  display: flex;
  align-items: center;
}
header .container .navbar .change-theme nav .theme-switch-wrapper label {
  display: inline-block;
  position: relative;
  width: 60px;
  margin: 0;
  outline: none;
}
header .container .navbar .change-theme nav .theme-switch-wrapper label input {
  display: none;
}
header
  .container
  .navbar
  .change-theme
  nav
  .theme-switch-wrapper
  label
  .icon-container {
  width: 24px;
  height: 24px;
  padding: 3px 0;
  margin-left: 20px;
  color: var(--heading-color);
}
header
  .container
  .navbar
  .change-theme
  nav
  .theme-switch-wrapper
  label
  .icon-container
  i.fa-sun {
  transform: scale(1.5);
  /* display: none; */
}

.hide {
  display: none;
}
header
  .container
  .navbar
  .change-theme
  nav
  .theme-switch-wrapper
  label
  .icon-container
  i.fa-moon {
  transform: scale(1.5);
}
/* End Header  */

/* Start Main Slider  */

section .slider-content .owl-theme .owl-nav {
  display: none;
}

section .slider-content .owl-theme .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

section .slider-content .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--green-color);
  width: 30px;
  height: 10px;
}

section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info
  .container
  .banner-description
  h5 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: var(--white-color);
  text-transform: capitalize;
}

section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info
  .container
  .banner-description
  p {
  font-weight: 400;
  color: var(--white-color);
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}

section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info {
  height: 100%;
}
section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .item {
  position: relative;
  z-index: 0;
}
section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.6;
  z-index: -1;
  background-color: #0c0c0c;
}
section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info
  .banner-info-left {
  height: 100%;
  /* background-color: #007bff; */
  display: flex;
  align-items: center;
  text-align: left;
}
section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info
  .banner-info-left
  a {
  text-decoration: none;
}
.banner-title-left {
  justify-content: left;
}

.banner-title-center {
  justify-content: center;
}
section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info
  .banner-info-left
  a.btn-white {
  background-color: var(--white-color);
  font-size: 18px;
  font-weight: 400;
  padding: 12px 35px;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  color: var(--primary-color);
}

section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info
  .banner-info-left
  a.btn-black {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 2px solid var(--white-color);
  font-size: 18px;
  font-weight: 400;
  padding: 10px 35px;
  text-transform: capitalize;
  border-radius: var(--border-radius);
  color: var(--white-color);
}

section
  .slider-content
  .owl-theme
  .owl-stage-outer
  .owl-stage
  .owl-item
  .img-item
  .banner-info
  .banner-info-left
  a.btn-black:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
  transition: 0.3s ease-in;
}
/* End Main Slider  */

/* Start About  */
section.about {
  padding: 3rem 0;
  background: var(--bg-color);
}
.about .container .about-content {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}
.content-title {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary-color);
}
.content-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: var(--heading-color);
}
.about .container .about-content p {
  line-height: 28px;
  color: var(--font-color);
  font-family: "Jost", sans-serif;
  font-size: 1.2em;
}
.about .container .about-content a {
  font-size: 17px;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.about .container .about-content a:hover {
  color: var(--primary-color);
}
/* End About  */

/* Start Feature  */
section.features {
  background-color: var(--bg-light);
  padding: 3rem 0;
}
section.features .features-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 3rem 0;
}
section.features .features-content .feature-item {
  /* border: 2px solid black; */
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
}
section.features .features-content .feature-item:hover {
  background-color: var(--bg-light);
}
section.features .features-content .feature-item .icon i {
  color: var(--primary-color);
  font-size: 30px;
}
section.features .features-content .feature-item h4 a {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
  color: var(--heading-color);
  text-decoration: none;
}
section.features .features-content .feature-item h4 a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
section.features .features-content .feature-item p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.2em;
  color: var(--font-color);
}

section.features .features-content .feature-item .item-content a.read {
  font-size: 17px;
  padding: 0;
  font-weight: 600;
  border-radius: 0;
  margin-top: 20px;
  display: inline-block;
  text-transform: capitalize;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
section.features .features-content .feature-item .item-content a.read:hover {
  color: var(--primary-color);
}
/* End Feature  */

/* Start Services  */
section.services {
  padding: 3rem 0;
  background: var(--bg-color);
}
section.services .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
section.services .container .service-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section.services .container .service-content .service-left {
  padding-left: 3rem;
  padding-right: 15px;
}
section.services .container .service-content .service-left img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
section.services .container .service-content .service-right {
  width: 100%;
  padding: 0 15px;
  /* display: flex; */
  align-self: center;
}
section.services .container .service-content .service-right p {
  margin: 15px 0 35px 0;
  color: var(--font-color);
}
section.services .container .service-content .service-right ul li {
  list-style: none;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: var(--heading-color);
  margin: 15px 0;
  font-weight: 600;
}
section.services .container .service-content .service-right ul li span {
  color: var(--primary-color);
  margin-right: 12px;
  background-color: var(--bg-light);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
  font-weight: bold;
}
/* End Services  */

/* Start Statistics  */
section.statistics {
  background-color: var(--primary-color);
  padding: 3rem 0;
}
section.statistics .statistic-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
section.statistics .statistic-content .statistic-item {
  text-align: center;
}
section.statistics .statistic-content .statistic-item p {
  font-size: 50px;
  line-height: 60px;
  font-weight: 600;
  color: white;
  margin-top: 30px;
  margin-bottom: 0;
}
section.statistics .statistic-content .statistic-item h4 {
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: white;
  margin-top: 10px;
  opacity: 0.8;
  font-weight: 400;
}
/* End Statistics  */

/* Start OurPlan  */
section.ourplan {
  padding: 3rem 0;
  background: var(--bg-light);
}
section.ourplan .container {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}
section.ourplan .container .plan-content .plan-heading {
  text-align: center;
}
section.ourplan .container .plan-content .plan-heading .content-heading {
  margin-bottom: 3rem;
}
section.ourplan .container .plan-content .plan-heading .plan-title {
  font-weight: 600;
}
section.ourplan .container .plan-content .plan-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% auto;
  margin-top: 0;
  width: 90%;
}
section.ourplan .container .plan-content .plan-card .pricing-card {
  background: var(--bg-color);
  border-radius: 6px;
  align-self: center;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container {
  /* padding: 3.5em 2.5em; */
  border-right: 0;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-top {
  text-align: center;
}

section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-top
  h6 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
  color: var(--heading-color);
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-top
  h4 {
  font-size: 40px;
  line-height: 45px;
  margin: 15px 0 20px;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-top
  h4
  label {
  font-size: 25px;
  vertical-align: text-top;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-top
  h4
  span {
  font-size: 16px;
  line-height: 25px;
  color: #999;
  font-weight: 400;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-bottom {
  text-align: center;
  padding-top: 1em;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-bottom
  ul {
  min-height: 120px;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-bottom
  ul
  li {
  list-style: none;
  margin-bottom: 5px;
  color: #304659;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-bottom
  ul
  li
  p {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  align-self: center;
  padding-top: 6px;
  color: var(--font-color);
}
.btn-theme {
  font-size: 18px;
  line-height: 28px;
  padding: 12px 35px;
  text-transform: capitalize;
  font-weight: 400;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-bottom
  .buy-button {
  margin-top: 2em;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-container
  .pricing-bottom
  .buy-button
  a:hover {
  background-color: #116e32;
  border-color: #116e32;
  color: var(--white-color);
  text-decoration: none;
}

section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-card
  .pricing-lr-padding {
  padding: 3.5em 2.5em;
}

section.ourplan .container .plan-content .plan-card .pricing-center {
  z-index: 1;
  margin: 0;
  transform: scale(1.03);
  box-shadow: 0 10px 30px 0 rgb(17 17 17 / 9%);
  border-radius: 6px;
  padding: 0;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container {
  /* background-color: #007bff; */
  padding: 0 !important;
  transform: scale(1.03);
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container
  .pricing-top {
  padding: 3em 2.5em 0.5em;
  background: var(--primary-color);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container
  .pricing-top
  h5 {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-color);
  background: #fff;
  border-radius: var(--border-radius);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  display: inline-block;
  padding: 8px 20px;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container
  .pricing-top
  h6 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container
  .pricing-top
  h4 {
  color: #fff;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  font-weight: 600;
  margin: 15px 0 20px;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container
  .pricing-top
  h4
  span {
  color: #fff;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container
  .pricing-bottom {
  padding: 2em 2.5em 3.5em;
  background: var(--bg-color);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
section.ourplan
  .container
  .plan-content
  .plan-card
  .pricing-center
  .pricing-container
  .pricing-bottom
  .buy-button
  a:hover {
  border-color: #116e32;
  background: var(--primary-color);
}
/* End OurPlan */

/* Start News  */
section.news {
  padding: 2rem 0;
  align-items: center;
  background: var(--bg-color);
}
section.news .container {
  padding: 3rem 25px;
}
section.news .container .news-content {
  max-width: 950px;
  text-align: center;
  margin: 0 auto;
}

section.news .container .news-content .news-top p {
  margin-top: 1rem;
  color: var(--font-color);
}
section.news .container .news-content .news-bottom {
  margin-top: 3rem;
}
section.news .container .news-content .news-bottom .news-bottom-content {
  position: relative;
}
section.news .container .news-content .news-bottom .news-bottom-content img {
  border-radius: var(--border-radius);
  max-width: 100%;
  height: auto;
}
section.news .container .news-content .news-bottom .news-bottom-content a {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
section.news .container .news-content .news-bottom .news-bottom-content a span {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  line-height: 55px;
  display: inline-block;
  transition: 0.3s ease-in-out;
  background-color: #fff;
  animation: ripple 1s linear infinite;
}
section.news
  .container
  .news-content
  .news-bottom
  .news-bottom-content
  a
  span
  i.fa {
  color: #189a46 !important;
}
/* End News  */

/* Start Feedback  */
section.feedback {
  padding: 3rem 0;
  background: var(--bg-light);
}
section.feedback .container {
  padding: 1.5rem 25px;
}
section.feedback .container .feedback-top {
  text-align: center;
  margin: 0 auto;
}
section.feedback .container .feedback-top h3 {
  margin-bottom: 3rem;
}
section.feedback .container .feedback-bottom {
  max-width: 1050px;
  margin: auto;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage {
  width: 3210px;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item {
  margin-right: 20px;
  width: 515px;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback {
  margin: 0;
  padding: 40px 30px;
  display: block;
  position: relative;
  background: var(--bg-color);
  border: none;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
  border-radius: var(--border-radius);
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  blockquote {
  margin-bottom: 1.5rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  blockquote
  q {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  blockquote
  q::before {
  font-size: 50px;

  padding-top: 8px;
  font-weight: 700;
  display: inline-block;
  font-family: "Merriweather", serif;
  color: var(--primary-color);
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  .feedback-description {
  display: flex;
  text-align: center;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  .feedback-description
  .avarta-img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  background: var(--bg-color);
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  .feedback-description
  .avarta-img
  img {
  width: 100%;
  height: auto;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  .feedback-description
  .avarta-name {
  margin-left: 20px;
  text-align: left;
  align-self: center;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  .feedback-description
  .avarta-name
  h3 {
  color: var(--heading-color);
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-stage-outer
  .owl-stage
  .owl-item
  .item
  .item-content
  .content-feedback
  .feedback-description
  .avarta-name
  p {
  color: #777;
  font-size: 17px;
  font-style: normal;
  opacity: 0.8;
  text-align: left;
  margin-bottom: 0;
}

section.feedback .container .feedback-bottom .owl-fb .owl-dots {
  position: inherit;
  left: 0;
  right: 0;
  bottom: 30px;
  margin-top: 80px;
}
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-dots
  .owl-dot.active
  span,
section.feedback
  .container
  .feedback-bottom
  .owl-fb
  .owl-dots
  .owl-dot:hover
  span {
  background-color: var(--green-color);
  width: 30px;
  height: 10px;
}
/* End Feedback  */

/* Start Contact  */
section.contact {
  padding: 3rem 0;
  background: var(--bg-color);
}
section.contact .container {
  text-align: center;
  padding: 1.5rem 25px;
}
section.contact .container .contact-content {
  margin: 1.5rem 0;
}
section.contact .container .contact-content .supscribe {
  max-width: 75%;
  margin: 0 auto;
}
section.contact .container .contact-content .supscribe .supscribe-content {
  max-width: 650px;
  margin: 0 auto;
}
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-heading
  p {
  margin: 1rem 0;
  color: var(--font-color);
}
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-form {
  margin-top: 3rem;
  padding-top: 0.5rem;
}
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-form
  .sups-field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-form
  .sups-field
  input {
  font-size: 16px;
  border-radius: var(--border-radius);
  padding: 0 20px;
  height: 60px;
  display: block;
  width: 100%;
  flex-basis: 70%;
  line-height: 1.5;
  font-weight: 400;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-form
  .sups-field
  input:focus,
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-form
  .sups-field
  input:focus-visible {
  outline: none;
  border: 1px solid var(--primary-color) !important;
}
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-form
  .sups-field
  button {
  flex-basis: 27%;
}
section.contact
  .container
  .contact-content
  .supscribe
  .supscribe-content
  .sups-form
  .sups-field
  button:hover {
  background-color: #116e32;
  border-color: #116e32;
  color: var(--white-color);
  text-decoration: none;
}

/* End Contact  */

/* Start Footer  */
section.footer {
  background: #111;
}
section.footer .container {
  padding: 1rem 25px;
}
section.footer .container .footer-top {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
section.footer .container .footer-top .footer-top-left {
  margin-top: 3rem;
  flex-basis: 50%;
}
section.footer .container .footer-top .footer-top-left .footer-socials ul li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 0;
  list-style: none;
}

section.footer .container .footer-top h6 {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}
section.footer .container .footer-top ul li {
  list-style: none;
  margin-bottom: 5px;
}
section.footer .container .footer-top ul li a,
section.footer .container .footer-top ul li p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: var(--font-color);
}

section.footer .container .footer-top ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
section.footer .container .footer-top ul li a span:hover {
  color: #fff;
  transition: 0.3s ease-in;
}
section.footer .container .footer-top .footer-top-right {
  flex-basis: 50%;
}

section.footer .footer-bottom {
  background: #111;
  border-top: 1px solid rgba(103, 99, 99, 0.14);
}
section.footer .footer-bottom p {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}
section.footer .footer-bottom p a {
  color: var(--secondary-color);
  opacity: 0.9;
}
/* End Footer  */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(15, 162, 66/16%), 0 0 0 10px rgb(15, 162, 67/25%),
      0 0 0 20px rgb(15, 162, 67/25%);
  }
  100% {
    box-shadow: 0 0 0 10px rgb(15 162 67 / 25%), 0 0 0 20px rgb(15 162 67 / 25%),
      0 0 0 40px rgb(50 100 245 / 0%);
  }
}
